@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

body{
    padding: 0;
    font-family: 'Fraunces', serif;
    font-weight: 900;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.container2{
    max-width: 1110px;
    margin: 0 auto;
}






//        NAVBAR STYLES

.navbar{

    display: flex;
    justify-content: space-between;
    align-items: center;
    

    &-logo a img{
        width: 236px;
        height: 26px;
        margin: 50px 0;
    }

    &-menu li a{
        text-decoration: none;
        color: #83888F;
        font-family: 'Barlow', sans-serif;
        text-transform: uppercase;
        font-family: Barlow;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height, or 125% */

        letter-spacing: 0.923077px;
    }

    &-menu{
        list-style: none;
        display: flex;

        & li{
            margin-left: 32px;
        }

        & li a:hover{
            color: #333D4B;
            cursor: pointer;
        }


    }

}











//             FOOTER


.footer{

    margin-bottom: 135px;
    background-color: #2C343E;

    &-inside{
        
    display: flex;
    justify-content: space-between;
    align-items: center;
 
    }


    &-logo{
        margin: 48px 0;
    }
    &-logo a img{
        width: 236px;
        height: 26px;
    }
    &-menu{
        list-style: none;
        display: flex;
    }
    &-menu li{
        text-transform: uppercase;  
        margin-left: 33px;
    }
    &-menu li a{
        font-family: Barlow;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height, or 125% */

        letter-spacing: 0.923077px;
        text-transform: uppercase;
        text-decoration: none;

        color: #83888F;
    }
    &-menu li a:hover{
        color: white;
    }
    &-network{
        display: flex;
        list-style: none;
    }
    &-network li{
        margin-left: 24px;
    }
    &-network li a:hover{
        opacity: 0.5;
    }   
}